
<nav class="navbar navbar-expand-lg position-fixed w-100 z-3">
    <div class="container my-3">
      <a class="navbar-brand text-white fs-2 fw-bold">START FRAMEWORK</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-lg-0 fw-bold me-3">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="about" routerLinkActive="activeLink">ABOUT</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="portfolio" routerLinkActive="activeLink">PORTFOLIO</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="contact" routerLinkActive="activeLink">CONTACT</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="gallery" routerLinkActive="activeLink">GALLERY</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>