<section class="pt-5 position-relative">
    <div class="conatiner pt-5">
        <h1 class="fw-bold text-center pt-5">PORTFOLIO COMPONENT</h1>
        <div class="d-flex align-items-center justify-content-center py-2">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        <div class="row mx-5">
          @for (img of images; track $index) {
            <div class="col-md-4 p-4" (click)="toggleDisplay()">
                <div class="position-relative parent">
                    <img  [src]="img.imgSrc" class="w-100 rounded-2 overflow-hidden" alt="">
                    <div
                        class="position-absolute top-0 h-100 layer w-100 rounded-2 text-center d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
                <div [hidden]="isShow" class="plusimg position-fixed top-50 start-50 translate-middle z-3">
                    <div class="text-center">
                        <img [src]="img.imgSrc" class="w-75" alt="">
                    </div>
                </div>
            </div>
          }
        </div>
    </div>
</section>
